body{
    background-color: #000000;
    user-select: none;
}

a {
    text-decoration: none;
    color: grey;
    font-family: 'Brush Script MT', cursive;
}

#container{
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#linx{
    top: 100px;
    position: relative;
    z-index: 5;
    text-align: center;
}

#text{
    position: relative;
    top: 280px;
    left: 65px;
    z-index: 4;
    width: 400px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}


.tv-button {
    left: 462px;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 4;
    border-radius: 50%;
}

#mask{
    position: relative;
    z-index: 3;
    pointer-events: none;
}

#unsupported{
    position: relative;
    top: 250px;
    left: 150px;
    color: white;
}

.media-ivysilani-player{
    position: relative;
    top: -400px;
    z-index: 2;
    width: 500px;
    height: 300px;
}
